@media (min-width: 1060px){
    .projects{
        &__img-grid{
            flex-wrap: nowrap;
        }
    }
}

@media (min-width: 900px){
    nav{
        display: block;
        position: static;

        a{
            padding: 0 10px;

            &:hover::after{
                transform: scaleX(1);
    
            }
        }
        
    }

    .burger{
        display: none;
    }

    .about{
        .section-wrapper{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
        }

        &__avatar{
            justify-self: end;
        }
    }

    .services{
        &__skills{
            justify-content: space-between;
        }
    }
}